<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gerenciamento - PetShopFofinho</title>
  <link rel="stylesheet" href="../Style/gerenciamento.css">
</head>

<body>
    <header>
    <nav class="navbar">
      <div class="logo">🐾PetShopFofinho</div>
      <ul class="nav-links">
        <li><a href="index.html">Início</a></li>
        <li><a href="index.html">Serviços</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
    </nav>
  </header>
  <div class="sidebar">
    
    <ul>
      <li><a href="#">Perfil</a></li>
      <li><a href="#">Pets</a></li>
      <li><a href="agendamentos.html">Agendamentos</a></li>
      <li class="active"><a href="#">Gerenciamento</a></li>
    </ul>
  </div>

  <div class="content">


    <main>
      <div class="info-actions">
        <h2>Gerenciamento de Informações</h2>
        <div class="actions">
          <button>Editar</button>
          <button>Deletar</button>
          <button>Adicionar</button>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Pet</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Emily Johnson</td><td>(123) 456-7890</td><td>emily@example</td><td>Bella</td></tr>
          <tr><td>Michael Smith</td><td>(234) 567-6901</td><td>michael@example</td><td>Max</td></tr>
          <tr><td>Sarah Williams</td><td>(345) 678-9012</td><td>sarah@example</td><td>Lucy</td></tr>
          <tr><td>David Brown</td><td>(456) 789-0123</td><td>david@example</td><td>Daisy</td></tr>
          <tr><td>Jessica Miller</td><td>(557) 890-1234</td><td>jessica@example</td><td>Rocky</td></tr>
          <tr><td>Daniel Wilson</td><td>(678) 901-2345</td><td>daniel@example</td><td>Medim</td></tr>
          <tr><td>Ashley Davis</td><td>(789) 012-3456</td><td>ashley@example</td><td>Brown</td></tr>
        </tbody>
      </table>
    </main>
  </div>
</body>
</html>
