<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PetShopFofinho</title>
  <link rel="stylesheet" href="../Style/styles.css" />
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">🐾 PetShopFofinho</div>
      <ul class="nav-links">
        <li><a href="#">Início</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#link-footer">Contato</a></li>
        <li><a href="gerenciamento.html">Configuração</a></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="services-section">
      <h1>Serviços Prestados</h1>
      <div class="cards-container">

        <div class="card">
          <img src="../src/cachorro.webp" alt="Tosa Completa" />
          <h2>Tosa Completa</h2>
          <p>Nosso serviço completo de tosa inclui banho, corte de pelo, limpeza de ouvidos e muito mais para garantir que seu pet esteja com a melhor aparência e se sinta bem.</p>
          <div class="card-footer">
            <span>$50</span>
            <button>Agendar</button>
          </div>
        </div>

        
        <div class="card">
          <img src="../src/cachorro.webp" alt="Tosa" />
          <h2>Tosa</h2>
          <p>Nosso serviço de tosa inclui aparamento e alinhamento de pelos.</p>
          <div class="card-footer">
            <span>$30</span>
            <button>Agendar</button>
          </div>
        </div>

    
        <div class="card">
          <img src="../src/cachorro.webp" alt="Corte de unhas" />
          <h2>Corte de unhas</h2>
          <p>Mantenha as unhas do seu pet lindas e saudáveis com o nosso serviço profissional de corte de unhas.</p>
          <div class="card-footer">
            <span>$15</span>
            <button>Agendar</button>
          </div>
        </div>


        <div class="card">
          <img src="../src/cachorro.webp" alt="Adestramento" />
          <h2>Adestramento</h2>
          <p>Nossos treinadores experientes oferecem sessões de treinamento personalizadas para ajudar seu pet a aprender novas habilidades e melhorar seu comportamento.</p>
          <div class="card-footer">
            <span>$70</span>
            <button>Agendar</button>
          </div>
        </div>

      
        <div class="card">
          <img src="../src/cachorro.webp" alt="Escovação de dentes" />
          <h2>Escovação de dentes</h2>
          <p>Garanta a saúde bucal do seu pet com nosso serviço de escovação de dentes, mantendo os dentes limpos e frescos.</p>
          <div class="card-footer">
            <span>$25</span>
            <button>Agendar</button>
          </div>
        </div>
      </div>
    </section>

    <footer id="link-footer">
      <p><strong>Entre em contato conosco</strong></p>
      <p>Phone: (62) 999999999</p>
      <p>Email: support@petshopfofinho.com</p>
    </footer>
  </main>
</body>
</html>
